* {
    box-sizing: boarder-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.navbar{
    background: #7DFD4E;
    height: auto; /*80 px*/ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: auto;/*80 px*/ 
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #54923A;
    background-color: linear-gradient(to top,#54923A 0%, #7DFD4E 100%);
}