body {
  background-image: url('../images/backgroundturf.jpg');
  background-size: 100% 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0;
  padding: 0;
  height: 100vh; 
}

form {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -150%);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Font for web page */
body {
  font-family: 'Poppins', sans-serif;
}
