<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>The Spirit Field Booking Page</title>
<link rel="stylesheet" href="../static/css/app.css" />
</head>
<body>
<div class="container">
  <div class="header"></div>
  <div class="info">
    <h1>The Spirit Field - Samhita Complex (Building no.8)</h1>
    <p>₹1,500 onwards • 12:00 am - 11:59 pm</p>
    <p class="rating">Rating: 3.7</p>
  </div>
  <div class="location">
    <h2>Location</h2>
    <p>Samhita Complex, Bldg no 8, Telephone Exchange Rd., Andheri East, Sakinaka Junction, Mumbai 400072</p>
    <div class="button">Navigate</div>
  </div>
  <div class="sports">
    <h2>Available Sports</h2>
    <p>Box Cricket, Football</p>
  </div>
  <div class="amenities">
    <h2>Amenities</h2>
    <p>Artificial Turf</p>
  </div>
  <div class="booking">
    <div class="button">SELECT A SPORT TO PROCEED</div>
  </div>
</div>
</body>
</html>
