<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cricket Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <!--Back button-->
  <button class="back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i></button>

  <!-- Search box -->
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search turfs..." style="width: 400px;">
    <button onclick="searchTurf()"><i class="fas fa-search"></i></button>
  </div>

  <!-- Turf containers -->
  <div class="container">
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbSkUUoGr-fFBCEhT0hJuRDjgun_lqgz3z3N8e5jceQ-lP-vShpcLV9c41r0nStQpFdgPMT9Olh1ztjoSjsH-G9JBU0aIEvcYpbFNV7NHMXSBpvVJKUxLZ6heUzAjv6ci3IsZiwHu-ZJxk01Ka4uIGDUKZhrcBQpo46gmZU__CbTeC6&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>University of Mumbai Sports Complex</h1>
        <p class="bold">Location: 3VF3+9J9, Kolivery Village, Vidya Nagari, Kalina, Santacruz East, Mumbai</p>
        <p class="bold">Hourly Price: ₹841</p>
        <p class="bold">Rating: 3.9</p>
        <a href="/slotbooking?name=University of Mumbai Sports Complex&price=Hourly Price: ₹841"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJb_X3W1WkvHSbzRLe1vVs6GgxvhZ7ygywkyYtb7UX2BC3ckoFoC9xWv14dphnLqz_fn8VU6xFnGZj79SPKaUMQyUc4f-PisJkrBZ68KyTIUCsYy3nNjwgJNiGpGnSMAeyOuI80HcwFXirKJPoeVfGbbIGdh6OXqtMm8-AFaFun_64Uv&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Urban Sports - Santacruz</h1>
        <p class="bold">Location: 25, Juhu Tara Rd, GOI Staff Colony, Santacruz West, Mumbai</p>
        <p class="bold">Hourly Price: ₹788</p>
        <p class="bold">Rating: 1.6</p>
        <a href="/slotbooking?name=Urban Sports - Santacruz&price=Hourly Price: ₹788"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbw_Gx1jxyM_h6GrsHASyKlIrUc8XX4koH3TjuaV6NETVLyA2v4sVJO1rWZ7k_FYhj1xUDoe2phnAv_WlCweobsBpk2SsC030dj-a9xKY78dufvVvrwm0pze4sa6YL3K0pXeJbNZ7LDMWXPpejIjAbonlUBn5EuNidyZPUN6zEr-O3p&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Urban Sports</h1>
        <p class="bold">Location: Prabodhankar Thackeray Krida Sankul, Shahaji Raje Marg, Vishnu Prasad Society, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
        <p class="bold">Hourly Price: ₹938</p>
        <p class="bold">Rating: 2.8</p>
        <a href="/slotbooking?name=Urban Sports&price=Hourly Price: ₹938"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaEG4CRTJyxBkdUcqA4khVwiqpviL3KFNvHgx7QLek64dSODunlik8dv-TJkb-OfnTYT6Y0H81WVZLkprG3AOaAwDe3Q5EIjtlu1IEuvT8B8HxFE9Tyl-kzx14FK14kQNh5NUtj7X5JM1z02HIkvUWigL8ZXfy4od01IruqDwPBT8I5&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>TSG Sports Arena @All India Balkanjibari, Santacruz west</h1>
        <p class="bold">Location: 25, Juhu Tara Rd, GOI Staff Colony, Santacruz West, Mumbai</p>
        <p class="bold">Hourly Price: ₹685</p>
        <p class="bold">Rating: 4.6</p>
        <a href="/slotbooking?name=TSG Sports Arena @All India Balkanjibari, Santacruz west&price=Hourly Price: ₹685"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYud8LqpPAAIA6GLRF2vnoSZAsbFGM5WbploRvf12_1-2KKmgpMsmK9FaKofG2EvsNwfKavZnjTrEf7A5gJXxXJDkRxk1mXE13yNX12LezfAfS3_9oGtKikUSQUS4pMFbCOiVwK_i8GXAGvYG429V9tPxshzaOPtCZMTK3bFLM4AQ9u&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>PASS</h1>
        <p class="bold">Location: Plot No 10, Mahal Industrial Estate, Off Mahakali Caves Rd, Gundavali, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹729</p>
        <p class="bold">Rating: 4.4</p>
        <a href="/slotbooking?name=PASS&price=Hourly Price: ₹729"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaIW1ImqrRV0lqYuvI994F0UMqs5cTE2BRvsk4kRtKk375V-6uLXVAoGW3qlGQTmSwD1Zcylwphwb2kaQ-EmqW9uf6T1_OchIiejYhbb0NO7y_6yUiyBEgc5TTyXA3Aiq1mqdbr1EDkcDhZXRzSwRlmb8OYApHmU6emakVmrZO7GP3W&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Battlefield Andheri Chintamani Plaza</h1>
        <p class="bold">Location: Chintamani Plaza, Andheri - Kurla Rd, Mota Nagar, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹531</p>
        <p class="bold">Rating: 3.2</p>
        <a href="/slotbooking?name=Battlefield Andheri Chintamani Plaza&price=Hourly Price: ₹531"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZaqYjag-uk5vXaVfAsx5LgTzjq7s52NlAh35UVslEP0iuE_lByKUVnUHdKDyQzpogTzEwGHo7XgWZSHFDEZZbJqi-qHd1Cx-Ndm-_p9TxIXwBy0tl6gealkdn4Oo2JbNZ2PvcISWo8Sejfl6B7xKeXS-8YCr_cb-44y1VdLlkN0px1&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Gallant Sports -Juhu</h1>
        <p class="bold">Location: JVPD Grounds, opp. PVR Cinema`s, Sainath Nagar, JVPD Scheme, Juhu, Mumbai</p>
        <p class="bold">Hourly Price: ₹576</p>
        <p class="bold">Rating: 2.6</p>
        <a href="/slotbooking?name=Gallant Sports -Juhu&price=Hourly Price: ₹576"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJY1lk7riYmB78ZXJVO_05soIW_zuTykWFmtHpF-_ZPw3QxOxFKHhO6B3akjC4K3-LZ_GlGn2sScxjHQl2aQh5nxtTJf-aJazrC2SDLVTmrSQjB8LqMhIopqmgPSTLjPR8k8f3KlELYyq2YYn0Qp-9Lm8UTAmaDDucrsbzzpcQxsvS2z&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Footbrawl Santacruz</h1>
        <p class="bold">Location: Lions muncipal sports complex, Milan subway, Santacruz, Mumbai</p>
        <p class="bold">Hourly Price: ₹898</p>
        <p class="bold">Rating: 2.7</p>
        <a href="/slotbooking?name=Footbrawl Santacruz&price=Hourly Price: ₹898"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZqV636AICSDZqmX4RCGhQrqqWdKq9MR3rYXu9fRugS3jtsFwictjMzuCl2AXoimWRN2lsS-dl1g0iGcUm5a78YK1rpBH_0Ske4xtXd8uJaD_UeRzNp9J4ALoIWvziEGjn7VhSWm058xiWz4OWh3d0e_STiOw15qIz9wsm2ZIdox7xU&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>JVPD Ground - Arvog Leisure</h1>
        <p class="bold">Location: 30, Devle Rd, Juhu, Mumbai</p>
        <p class="bold">Hourly Price: ₹955</p>
        <p class="bold">Rating: 1.4</p>
        <a href="/slotbooking?name=JVPD Ground - Arvog Leisure&price=Hourly Price: ₹955"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJamQzzz1RwEoiYLS56cm8eR_DgiGBSZwhfYy37wYWlrgk6uxh_JQ-ubF4Ae86x5ILYQ3GN96ATZXXY1i39oE_lIrzZo4Ua49_ElXBgNABCqpMIBFXH44uhRcTKDHj85QbhQgooxvWBfMStjK14RQ73wkzzX_qZ-f0J4J-o3ueFlA_Sp&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Prabodhankar Thackeray Krida Sankul</h1>
        <p class="bold">Location: Shahaji Raje Marg, Vishnu Prasad Society, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
        <p class="bold">Hourly Price: ₹773</p>
        <p class="bold">Rating: 1.4</p>
        <a href="/slotbooking?name=Prabodhankar Thackeray Krida Sankul&price=Hourly Price: ₹773"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZjVnBvDa1dzF0m7YyAjdQpj_0tBYblE10rTizHawGm61nAZU-vsS97ljexPeuTryvift9k6o6f0O-mMTV24jHQyKkCp0qZO28pR-DWLFMg9J0-5N2ba43-ZF-G_2YGgj9rkl4362qhrfx7_4qHJEyZ541huNF_yneMkZDSwDexlzBL&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>OM ASTRO TURF</h1>
        <p class="bold">Location: JVDP Ground, 30, Devle Rd, Juhu, Mumbai</p>
        <p class="bold">Hourly Price: ₹523</p>
        <p class="bold">Rating: 2.4</p>
        <a href="/slotbooking?name=OM ASTRO TURF&price=Hourly Price: ₹523"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJasnR3zTG47anegqncY0oT2_jhi6SttL6L0jyZ1iNX9whRdjdJqtveBzQBKxWEPJZGJ3A3dYuxeuYivYM1kCuvK_0zKhpdLXd_9NVWCPnFbzswtZu9uNiGCjNcc-ZlUr1nlhlXFwwec7qWZsAqcFzdlV4qO-lU1E9JzE6bjgxE2ogPE&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Thackeray Udyan</h1>
        <p class="bold">Location: 4R5X+HVC, WING B, Veer, Vile Parle East, Baji Prabhu Deshpande Marg, Vishnu Prasad Society, Navpada, Netaji Subhash Nagar, Vile Parle, Mumbai</p>
        <p class="bold">Hourly Price: ₹674</p>
        <p class="bold">Rating: 1.5</p>
        <a href="/slotbooking?name=Thackeray Udyan&price=Hourly Price: ₹674"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJa3ly61zxE_Szf8ynmJkdCUxGYKI5DAwMEQ1iCeEFdf43OpyQPtMQUcKtld173GA1fAw2cpgkDKL6XNSD7-dwPpLZktkrwZZSWt3eosVQV_PyuEnR7kGNp3HXbSpEwBcKp61iGV4VrQWzy59jiVcAMO-B9AoRt3tAum7yh5UvC5iUDb&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>OMKAR FILTERS</h1>
        <p class="bold">Location: Vishal Cooperative Housing Society Vishal Chs, A-1, Cama Rd, near Reliance hostel, Lohana Colony, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹535</p>
        <p class="bold">Rating: 2.4</p>
        <a href="/slotbooking?name=OMKAR FILTERS&price=Hourly Price: ₹535"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJb2EpPxS22XoKgvHmzotnYXgCU5xpwrTgb06jpESwXQ6K-rrEWO5cq34lkQ8ZqwQ2joMetfu17qoKeDKu9o96uAk6PJbwtFLb-ec7nAjqFc_I3jJcEwIrscq5pzuewmGQJNY_x2LDDBdgyfgXREuv1oaHkvxHw9gQMx3TyecheH9Qov&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>CORE by Krushmi Chheda | Sports Scientist & Nutritionist</h1>
        <p class="bold">Location: A 403,Sangam Building, Corner of SV Road & Sai baba Lane, Santacruz West, Mumbai</p>
        <p class="bold">Hourly Price: ₹853</p>
        <p class="bold">Rating: 4.8</p>
        <a href="/slotbooking?name=CORE by Krushmi Chheda | Sports Scientist & Nutritionist&price=Hourly Price: ₹853"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://example.com/default_turf_image.jpg" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>TSG Swim School - Willington Catholic Gymkhana</h1>
        <p class="bold">Location: Church Ave, Khar, Willingdon, Santacruz West, Mumbai</p>
        <p class="bold">Hourly Price: ₹521</p>
        <p class="bold">Rating: 2.3</p>
        <a href="/slotbooking?name=TSG Swim School - Willington Catholic Gymkhana&price=Hourly Price: ₹521"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
  </div>

  <script src="../static/js/turf_info.js"></script>
</body>
</html>