<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cricket Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <!--Back button-->
  <button class="back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i></button>

  <!-- Search box -->
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Search turfs..." style="width: 400px;">
    <button onclick="searchTurf()"><i class="fas fa-search"></i></button>
  </div>

  <!-- Turf containers -->
  <div class="container">
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJY5GN1qi-yNH6WtlnFWSv4f7ivs2MUUX0HFEuRLIYiIzeIFIfJQrio9WSvAhEVE8Y7Xk9kFVqGtpBWOnUr3B3RkkvpxUvI4iTiN2JS6UZ2JBRfxTTkcDJZ_H-YFWeSN3kAl5E50RChPjV0MH4ib1OK-KRayyLP4t2f75ESYOgKb7foq&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Andheri Sports Complex</h1>
        <p class="bold">Location: JP Rd, Azad Nagar, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹950</p>
        <p class="bold">Rating: 1.7</p>
        <a href="/slotbooking?name=Andheri Sports Complex&price=Hourly Price: ₹950"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYk6IGQzA3pEhM8x4UfHOJEDVrAKVEqT2-idrubMqF0zsQffPLbyl-EUKqKWfNzsnvG2QCfDu-rTHZz2w_uIj0-lKJxoVn7xbCp5RpU_nf4vGxl-zn2m78dpV8oGKh_U0tnmogUUQC6dx92nhKhjKzS1dsz5w3jan9MK8LgpY1p7OLj&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>PASS</h1>
        <p class="bold">Location: Plot No 10, Mahal Industrial Estate, Off Mahakali Caves Rd, Gundavali, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹802</p>
        <p class="bold">Rating: 3.0</p>
        <a href="/slotbooking?name=PASS&price=Hourly Price: ₹802"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbJKq9bFrGGUPWMh8kghNgYLMqVkRUKZYAifPXAUXWwY_aYEgkSU_mNc9KYOV0yuXE8uaIifMDuU3A-hJUIfVRPBy10oXkN_D5j3O40G2-tfBE9zHWS5wPra-g1C7nkMMgu2fMQcLTliNKO0W6buh_pg1_JWIwa2HmlLOBwu0sy7fmz&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>UMRB Turf, Azad Nagar - by SPORLOC</h1>
        <p class="bold">Location: Backgate, Sports Complex, Metro Station, Veera Desai Rd, next to Azad Nagar, Azad Nagar, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹996</p>
        <p class="bold">Rating: 3.4</p>
        <a href="/slotbooking?name=UMRB Turf, Azad Nagar - by SPORLOC&price=Hourly Price: ₹996"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZ1IQt45nefSX9u3Rf_6i1xR21u_wH8YiEWy8ZIQP0qNOk0_TKt4oQCOQVZaZlzSaVSpUjpz3P1oiWeIWdooB_Jq3FPAw3vkdCAj-W-fnUBNR9FvSTfvVSpiOjoQlj2my8qUp4BsMlm1lhLF5ni12gYR0Q_44EtBgrQ1pbe2egNtI2w&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Urban Sports</h1>
        <p class="bold">Location: Prabodhankar Thackeray Krida Sankul, Shahaji Raje Marg, Vishnu Prasad Society, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
        <p class="bold">Hourly Price: ₹950</p>
        <p class="bold">Rating: 4.7</p>
        <a href="/slotbooking?name=Urban Sports&price=Hourly Price: ₹950"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaiC_-agpxURYAja-vH4Pdlrhddtgq5ZzINn2pBCh_d7BUA7JYqroTw3NvNRhDitaklFVpvItuGDRjB12xRVsxPtEhKieEHv8vU1ANL52f6-cAYoZuoIfNCFFEv7TeK5LmhRhFroeWq9Tf7lmZX_JCDDnkSf10YJ6nqOJ5bHHBvQmuQ&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Shahaji Raje Sport Complex</h1>
        <p class="bold">Location: metro station, Andheri sports complex, near Azad Nagar, Azad Nagar, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹999</p>
        <p class="bold">Rating: 2.3</p>
        <a href="/slotbooking?name=Shahaji Raje Sport Complex&price=Hourly Price: ₹999"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZSkHPPy-Y-TMAPkZzHsrqD6aKcwVE9QAe4RMS1MGkY64ZlCHrnR71TpcEoK4EeY8GwpkrjN_j3TyUM0T1nZ_5jHYx9GS7mpCTqsp61dDVLHmFzIHgxwZjb8Hd5SS3A9nV_maSXcGmpCNUk6hQO55e0OVdJ9U6WX6kj23jA5FRA_BAx&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Battlefield Andheri Chintamani Plaza</h1>
        <p class="bold">Location: Chintamani Plaza, Andheri - Kurla Rd, Mota Nagar, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹670</p>
        <p class="bold">Rating: 3.4</p>
        <a href="/slotbooking?name=Battlefield Andheri Chintamani Plaza&price=Hourly Price: ₹670"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZONkBWTY85MAPNylvsavD6Akod6MA1A9F3cPP8LqxHXnGxpXkq1Lce2sqaMWrvJEuvnaX1qhrhCHNuN55tMnDyLC1K0mumLWOcjHnFVH-HzW-GMMIb0Wnp-auhza6fmWUark00M1vjuAoSaUe_oVU0BPEB_bkN_QuEZo7IwQKNHLTy&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>OMKAR FILTERS</h1>
        <p class="bold">Location: Vishal Cooperative Housing Society Vishal Chs, A-1, Cama Rd, near Reliance hostel, Lohana Colony, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹997</p>
        <p class="bold">Rating: 2.8</p>
        <a href="/slotbooking?name=OMKAR FILTERS&price=Hourly Price: ₹997"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZiR5Ln_2sCb1EBSgiOiX69YJlj-rSUG9QcJWH4JMJBfcPgn3zBte4kbChaEJToHq83q2La1jSYHYJNSshK25iAokjeSfvRxML3gah8O_peCrBfnbZ9Vgj95PfiYQnCC2La1N1tx400-SdJohDwCbsRLFxolhfbSkQSmbipNrejG00I&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Footbrawl Santacruz</h1>
        <p class="bold">Location: Lions muncipal sports complex, Milan subway, Santacruz, Mumbai</p>
        <p class="bold">Hourly Price: ₹704</p>
        <p class="bold">Rating: 2.2</p>
        <a href="/slotbooking?name=Footbrawl Santacruz&price=Hourly Price: ₹704"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZD2uPb3G0WaCuiposMMx1W_p56o7QQWvlc_s4rUEtIhh7gQ7WlnoaKzOudh5tkiF04tAhAHatqNjIzsqGUWiAoeIX5f3lV85wqM3t8wZZ6k1mP25xbdxaJrSs8Mn5hSWXY77jEGMCZnLSihYTnlTL3h_Tc_kTA0CuJ4uHFI5OPwE3J&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Prabodhankar Thackeray Krida Sankul</h1>
        <p class="bold">Location: Shahaji Raje Marg, Vishnu Prasad Society, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
        <p class="bold">Hourly Price: ₹559</p>
        <p class="bold">Rating: 2.6</p>
        <a href="/slotbooking?name=Prabodhankar Thackeray Krida Sankul&price=Hourly Price: ₹559"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJb2U4Gg7w1LDwkQWILcYDX9i2vKtmb9CVOBxOeCXEPl9o8XeFqsANxSHp-RDOwDyI76S12U3Qkwwj2XtUEsqz61J9pO-cPgafV5UqHSCN96C5237K5LofPPTxvCyiogwuXwLVfGT9EPlq58jGpCH775ktq2xVFcTiI_uso37nKeYnUA&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Thackeray Udyan</h1>
        <p class="bold">Location: 4R5X+HVC, WING B, Veer, Vile Parle East, Baji Prabhu Deshpande Marg, Vishnu Prasad Society, Navpada, Netaji Subhash Nagar, Vile Parle, Mumbai</p>
        <p class="bold">Hourly Price: ₹518</p>
        <p class="bold">Rating: 2.8</p>
        <a href="/slotbooking?name=Thackeray Udyan&price=Hourly Price: ₹518"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJY7q65751aQ9y_TEWbYDIiGBdXdR2ce9QuXl3obCvPsc7AYJNZBx5I7daMA_75JJmpbo36u-ru2X7h6f4fV-Jem3LYJToFSEocXaBGJUcoFSKa0lDKME7r7OPvWn-525zoQBbUG3e6GajL6iW9Ei5yJAFmNEAJeZlGWWKTbu1z9G9nS&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Score</h1>
        <p class="bold">Location: Rooftop, Marwah House, Krishanlal Marwah Marg, Marol, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹649</p>
        <p class="bold">Rating: 3.6</p>
        <a href="/slotbooking?name=Score&price=Hourly Price: ₹649"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaJ0mC9Ciljqpb019Q74IMPNGD2K7-GdMULXI7Dct0Rhud7InTReBq7lo3oDOvc2cj5F1u67RvBJmFyt6dnne2moRRUfnaDtAsUOet7NicWqw3MYDDtpNGwglU9Rt41PwOc11bYRWjFl2MlHQNvvzhip05yBhJEXSNlgep97REEazf1&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>MCGM Swimming Pool- Andheri East</h1>
        <p class="bold">Location: 1, Marol Pipeline Rd, Sai Nagar, Marol, Naka, Mumbai</p>
        <p class="bold">Hourly Price: ₹652</p>
        <p class="bold">Rating: 2.4</p>
        <a href="/slotbooking?name=MCGM Swimming Pool- Andheri East&price=Hourly Price: ₹652"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZJZlxXYXOnSwbTuMAwPiymrKYDyL7FMpDKOk6pC5CKUPm1gSJtwDUVp_kbPxYgQ3o56G6eyn38GMc8h63aaN9qhyRy5MTCyOQOWcVlobDgyF37nPFuSwydSS0EANAGqB_MmspifGj6myYp58VOmFi-8NzYXeHsnVdTofM4tQqbobzB&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Mumbai Football Arena</h1>
        <p class="bold">Location: 35, Veera Desai Rd, Azad Nagar, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹564</p>
        <p class="bold">Rating: 4.1</p>
        <a href="/slotbooking?name=Mumbai Football Arena&price=Hourly Price: ₹564"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJY2rHm9CRLealrcKIT-azAb5Yc4ij7opRKKjr7wkMShsE96b1GSCIZxfXHUG3i-2wu7x4lS6ja1bkU8BcoP9J3L-jMi9ghqS7XfmxcG2RYJP4sjbuYhyJU_6_R6heZ2Okc_opLFS3_-zNmBzzY3q5aStkcX4Uiap8hGJxUbRKWNOwPr&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Turf Image">
      </div>
      <div class="turf-info">
        <h1>Bluevalley swimming pools</h1>
        <p class="bold">Location: 18, 1, Tank View, Sahar Village, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹871</p>
        <p class="bold">Rating: 1.3</p>
        <a href="/slotbooking?name=Bluevalley swimming pools&price=Hourly Price: ₹871"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
  </div>

  <script src="../static/js/turf_info.js"></script>
</body>
</html>