<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Football Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <!-- Back button -->
  <button class="back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i></button>

  <!-- Search box -->
  <div class="search-container">
    <input type="text" id="footballSearchInput" placeholder="Search football turfs..." style="width: 400px;">
    <button onclick="searchPlace()"><i class="fas fa-search"></i></button>
  </div>

  <!-- Football Turf containers -->
  <div class="container">
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaI4VT7-zobs2SgmmM4QeWujefRQvMK3IozTCHPkYamRD4JduzCghFoctU3jtWDvwwkLej1nW3VVmbuu8LlOpClvzX_Vk6RwlZqMo8ot6E0FLmVJfLgFm5rkP2MgUTkXSVl5C_Ikejshfyrk_VJAocPIzNsu-hCnlUsPlrX9hWY806s&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Five Nine Turf</h1>
        <p class="bold">Location: Gamdevi, Marol, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹604</p>
        <p class="bold">Rating: 3.5</p>
        <a href="/slotbooking?name=Five Nine Turf&price=Hourly Price: ₹604"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaVigXnJGliGeSNV-ajVMBKS356U6c4D3lf5e3PFlCqRNvZgKS0r__W74LUuyQ9tpFVJ5k7l7LOaVElp4jct6_7prmZTq6QgJZdUT7qB2jocDGBA8iC1f4vgqOrQxcZX1YfeFj1Zxv_9FbaF8C_mBl9-XJ_nPralHpAyqgPShLmv1m0&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Milan Subway Turf</h1>
        <p class="bold">Location: 3RRR+9J8, PV Avasare Marg, LIC Colony, Suresh Colony, Santacruz West, Mumbai</p>
        <p class="bold">Hourly Price: ₹594</p>
        <p class="bold">Rating: 2.4</p>
        <a href="/slotbooking?name=Milan Subway Turf&price=Hourly Price: ₹594"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbWfa40RpENhrK7ZDBoKMtSaQhvlrkMYNF2UcNmJri4bt0HR5BB5BdjhD4wGmwjy8qjUr0kd5fljgRksSA3E-ecVpBDrpVJhAlgbo-ME4uh1yqnSFQTap1fMt7oEOddg2GeoAVqPxwUKXGvc_pdlCv6GN1EIavjahGKGGhLehR4qCtz&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Mumbai Football Arena</h1>
        <p class="bold">Location: 35, Veera Desai Rd, Azad Nagar, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹951</p>
        <p class="bold">Rating: 3.8</p>
        <a href="/slotbooking?name=Mumbai Football Arena&price=Hourly Price: ₹951"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbpKxFbDPW19TH4aMtbFICkUZ-SrdmjN6kmVeOUlv4z7n4IISi7kJlTataoeZRfb3HTV5bzjjfSZezHFRn5qD_blDB8ndVcLdMcy9KsMDK5Xh8yOHjoVtd7VofI6LPlH2t2BoA25xl_MyuiFKJAtfCrizWt8IiJLFKZDcFLIBBVifkG&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Young Guns Football Academy-Andheri West/Juhu</h1>
        <p class="bold">Location: B/508 Jiten CHSL J P Road Rajkumar Bus Stop Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹618</p>
        <p class="bold">Rating: 3.7</p>
        <a href="/slotbooking?name=Young Guns Football Academy-Andheri West/Juhu&price=Hourly Price: ₹618"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYIMPyuz3G2Xgzi2xjVpSdUD8ZS2RpJy23ctmbTyaeahzuczLIGSWHIUZqTPG5MrvdBhdc-jnkxpRlSC2R2gSzrXZxXgx7fQPY-Vp35mF6PFFTwnBrv2pS7Jc4IunM7RpxenmnB1G2nvmwrSy6fmSIHrCOPfxoGhDx3I95adhy32BYY&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>The Spirit Field</h1>
        <p class="bold">Location: Building no 18, Samhita Complex, MTNL Rd, Saki Naka, Mumbai</p>
        <p class="bold">Hourly Price: ₹547</p>
        <p class="bold">Rating: 3.0</p>
        <a href="/slotbooking?name=The Spirit Field&price=Hourly Price: ₹547"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZA-dbGbnzEj4h_hfFUbViOQyq5q0UYJUqrET1F1svPtD4KhnwSWdb4Kr8A5f46C960kRksB9ACm6a8sE0vnHDs0GwOtmvsvltfXcQG0vWsHYdNcHyAR2Zo0fsodlG9zUDznvsJ7WHAOsStgRSEOyA4YJYzYNi08aWYJQRb99YGjFCa&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>The Spirit Field New</h1>
        <p class="bold">Location: Hmtd textile terrace, opp. to Maxus Mall, Jarimari, Saki Naka, Mumbai</p>
        <p class="bold">Hourly Price: ₹877</p>
        <p class="bold">Rating: 4.5</p>
        <a href="/slotbooking?name=The Spirit Field New&price=Hourly Price: ₹877"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYJ7WsOE3-EgFJUprjk0wWNEAPodQHdHzlPzsgET6VFasykgAeWWm2ExuRUdwzf9cGs_-zNehG64qxLMsGXjfjE9ldu1ErbqpQ_xknvrM-YqBcM43L2UZITP-5cuVuPh165wvPOS8-v1p0duGDiJkmWIItTbINbGDwswM7j8NQ1wHiQ&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>The Spirit field</h1>
        <p class="bold">Location: Midc, Pepper box lane, Mahakali Caves Rd, Mumbai</p>
        <p class="bold">Hourly Price: ₹601</p>
        <p class="bold">Rating: 2.8</p>
        <a href="/slotbooking?name=The Spirit field&price=Hourly Price: ₹601"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbbs67xva76beF63q1syy_SCl-oxFWTj--krzcKXYdJeXwwa0ozZm2qMG6NB7Im6mbTfi-W1fw3A8ulwzsaNbYsYqFrfocbVrF-Rrdn0BNEwi6OYQ3EdBWYYxyQdmecJe7rR6NR_KFQ-_rESJpx_qHyf2ZD19taM1mfwynqohbaON9h&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Dream Sports Fields</h1>
        <p class="bold">Location: Crystal Plaza, C702, Linking Rd, Mumbai</p>
        <p class="bold">Hourly Price: ₹768</p>
        <p class="bold">Rating: 2.6</p>
        <a href="/slotbooking?name=Dream Sports Fields&price=Hourly Price: ₹768"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaqg2glw_ZPL5L3q032ssklriMmh3VYjtqmoz2I-MofFEjdj-JefOHWz2u3qO7Y518wX0ftp5nINM3mEFE0ezLMAxNNPXutLp0QtBhF2kSAhGiIF_m7MtWUCSKc3xiuAz2_mxWAiZGqBDDz7OyroJ7kegKvRlPjOYF1Tc-iYeV00Ebc&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Battlefield Andheri Chintamani Plaza</h1>
        <p class="bold">Location: Chintamani Plaza, Andheri - Kurla Rd, Mota Nagar, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹748</p>
        <p class="bold">Rating: 3.5</p>
        <a href="/slotbooking?name=Battlefield Andheri Chintamani Plaza&price=Hourly Price: ₹748"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYCY09LEfyrawtAwUrI5B43kiLBJ3P22JsjomXS23xLmncJPiiffwsGXHxxJGxpoiGKf3xqAODStXX31drgDpuyJzDE5QQqhmCI0TgYfOHVjp8YYxlS4lT61czdzYDe74feM5zYX2QwQ_tecHgKhM6LKON5d_Kn-Cgfr8kaQreaGoif&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Maheshwari Ground</h1>
        <p class="bold">Location: 4V8F+7HM, Rd Number 16, Maheshwari Nagar, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹979</p>
        <p class="bold">Rating: 3.0</p>
        <a href="/slotbooking?name=Maheshwari Ground&price=Hourly Price: ₹979"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://example.com/default_football_image.jpg" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Mfa Football Ground</h1>
        <p class="bold">Location: Sports Complex, JP Rd, Sahayog Society, Munshi Nagar, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹879</p>
        <p class="bold">Rating: 3.4</p>
        <a href="/slotbooking?name=Mfa Football Ground&price=Hourly Price: ₹879"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJazbxP3wtSNsCJ-ep6Y8yoPl9ZW7sIWnypw-lyMZLg4eaY-pMu9uo4DdtlyspckI8m025pPNzAdQigjzVbzFxtpCkm1mcbRMeRhmSpi8jsi7PbyEi6YSUNdDufrTgwC0EfKbqkZAMRvgO7pEO0l-juBr_yvSS3gERjzX7BLkZdFOqFq&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Andheri Sports Complex</h1>
        <p class="bold">Location: JP Rd, Azad Nagar, Andheri West, Mumbai</p>
        <p class="bold">Hourly Price: ₹793</p>
        <p class="bold">Rating: 4.3</p>
        <a href="/slotbooking?name=Andheri Sports Complex&price=Hourly Price: ₹793"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYcbNtT1Od771gMHIsY0ayiGW7lXe4LURGjm7t-rVjM1GHzj5ZyXtAoD38yd02Rmktib7Gn02uQcPCZDDUHUVFLzQMAs7zohguJeTyCTa1xiLwPs4Uo-XZdHhjrgUDmdCkkkwdhf-AtiJ5VYq_B2mCPfcNPWRADXWGpbY1GiyXYkgTb&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>The Urban Stadium</h1>
        <p class="bold">Location: Marol Church Rd, near Hasanat High School, Bori Colony, Shivaji Nagar JJC, Marol, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹649</p>
        <p class="bold">Rating: 2.6</p>
        <a href="/slotbooking?name=The Urban Stadium&price=Hourly Price: ₹649"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbOKn1yQEdoyyUpDE2rbB6LJ9jtt-dlAgZRx5mieOM7YA2pxc7RZOC8yDaXvscrSYlM1eQj4bb4ElyisVSmWPjd4Gi5WLJptulPAqKpSYXXgEncI2twiF1LmXdsFwLafO4-5quEPNERHeXnsTzmlHOGE9qWJ-2IGO3yRIhqTfXY0Ws1&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Astro Park - Lions Club</h1>
        <p class="bold">Location: Lions Municipal Sports Complex, Milan Subway, Santacruz West, Mumbai</p>
        <p class="bold">Hourly Price: ₹623</p>
        <p class="bold">Rating: 3.4</p>
        <a href="/slotbooking?name=Astro Park - Lions Club&price=Hourly Price: ₹623"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
    <div class="turf football-turf">
      <div class="turf-image">
        <img src="https://example.com/default_football_image.jpg" alt="Football Turf Image">
      </div>
      <div class="turf-info">
        <h1>Holy family high school stadium</h1>
        <p class="bold">Location: Holy Family High School And Jr College, Mahakali Caves Rd, Chakala, Andheri East, Mumbai</p>
        <p class="bold">Hourly Price: ₹904</p>
        <p class="bold">Rating: 4.0</p>
        <a href="/slotbooking?name=Holy family high school stadium&price=Hourly Price: ₹904"><div class="button see-more">Book Now</div></a>
      </div>
    </div>
    
  </div>

  <script src="../static/js/turf_info.js"></script>
</body>
</html>