<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_29fc055954878b6c60ea34e471f78193 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_29fc055954878b6c60ea34e471f78193" ></div>
        
</body>
<script>
    
    
            var map_29fc055954878b6c60ea34e471f78193 = L.map(
                "map_29fc055954878b6c60ea34e471f78193",
                {
                    center: [19.1148236, 72.863352],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_322242867c65b20b512c572ea3c5c801 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_322242867c65b20b512c572ea3c5c801.addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
            var marker_87d45a89f369404b3ce545d61672197d = L.marker(
                [19.109133, 72.8835579],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_b4d5cd4bc37387969019c04d51159f7e = L.popup({"maxWidth": "100%"});

        
            
                var html_042c4a324c2a3a1ad2b59b94c80d168a = $(`<div id="html_042c4a324c2a3a1ad2b59b94c80d168a" style="width: 100.0%; height: 100.0%;">Five Nine Turf</div>`)[0];
                popup_b4d5cd4bc37387969019c04d51159f7e.setContent(html_042c4a324c2a3a1ad2b59b94c80d168a);
            
        

        marker_87d45a89f369404b3ce545d61672197d.bindPopup(popup_b4d5cd4bc37387969019c04d51159f7e)
        ;

        
    
    
            var marker_9235d4ad0177fd29786935499b4f990b = L.marker(
                [19.1014157, 72.88228579999999],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_b454718cf26b5d79f47c12a477e34778 = L.popup({"maxWidth": "100%"});

        
            
                var html_227ebf1a85fbb6470a4d502040d9d48a = $(`<div id="html_227ebf1a85fbb6470a4d502040d9d48a" style="width: 100.0%; height: 100.0%;">FALAH SPORTS & TURF</div>`)[0];
                popup_b454718cf26b5d79f47c12a477e34778.setContent(html_227ebf1a85fbb6470a4d502040d9d48a);
            
        

        marker_9235d4ad0177fd29786935499b4f990b.bindPopup(popup_b454718cf26b5d79f47c12a477e34778)
        ;

        
    
    
            var marker_1cd36fd21654f33def36c01a4fc5d283 = L.marker(
                [19.1224398, 72.8627496],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_4b1b6bd73b8f1eac4137d324b7fe956a = L.popup({"maxWidth": "100%"});

        
            
                var html_598b32301efa63d9e8a9b0b287b76c2f = $(`<div id="html_598b32301efa63d9e8a9b0b287b76c2f" style="width: 100.0%; height: 100.0%;">Players Turf, Mahakali Caves</div>`)[0];
                popup_4b1b6bd73b8f1eac4137d324b7fe956a.setContent(html_598b32301efa63d9e8a9b0b287b76c2f);
            
        

        marker_1cd36fd21654f33def36c01a4fc5d283.bindPopup(popup_4b1b6bd73b8f1eac4137d324b7fe956a)
        ;

        
    
    
            var marker_93392aaad23d54a90b856d8e3f8434f1 = L.marker(
                [19.1117971, 72.8879259],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_b04839f8548dbe75b4fa62eb950fe5d2 = L.popup({"maxWidth": "100%"});

        
            
                var html_9e0f21251154df1c51c2c401caee9a3b = $(`<div id="html_9e0f21251154df1c51c2c401caee9a3b" style="width: 100.0%; height: 100.0%;">Infinity Sports Turf</div>`)[0];
                popup_b04839f8548dbe75b4fa62eb950fe5d2.setContent(html_9e0f21251154df1c51c2c401caee9a3b);
            
        

        marker_93392aaad23d54a90b856d8e3f8434f1.bindPopup(popup_b04839f8548dbe75b4fa62eb950fe5d2)
        ;

        
    
    
            var marker_83995e2220c0bae8bd11c959ce6d7817 = L.marker(
                [19.1378337, 72.8460126],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_41d54f40c2c256afde5617b2b868f5ff = L.popup({"maxWidth": "100%"});

        
            
                var html_c433311a88b682e2c14e686a0ccf50f4 = $(`<div id="html_c433311a88b682e2c14e686a0ccf50f4" style="width: 100.0%; height: 100.0%;">Greatest of all turf - Best Turf In Mumbai</div>`)[0];
                popup_41d54f40c2c256afde5617b2b868f5ff.setContent(html_c433311a88b682e2c14e686a0ccf50f4);
            
        

        marker_83995e2220c0bae8bd11c959ce6d7817.bindPopup(popup_41d54f40c2c256afde5617b2b868f5ff)
        ;

        
    
    
            var marker_beb8244adf9c45a7aff921601034afce = L.marker(
                [19.114688, 72.8888645],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_8503e31f54afb60051f6f1d522baa76d = L.popup({"maxWidth": "100%"});

        
            
                var html_068ccb5291cd79aae6c2560c57f4130f = $(`<div id="html_068ccb5291cd79aae6c2560c57f4130f" style="width: 100.0%; height: 100.0%;">Green Spaces Turf</div>`)[0];
                popup_8503e31f54afb60051f6f1d522baa76d.setContent(html_068ccb5291cd79aae6c2560c57f4130f);
            
        

        marker_beb8244adf9c45a7aff921601034afce.bindPopup(popup_8503e31f54afb60051f6f1d522baa76d)
        ;

        
    
    
            var marker_4eaa2ac031922cfb49678fa683f420c8 = L.marker(
                [19.1020189, 72.84243839999999],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_a5f3379e5f78207c1bfd88d711ebf1ae = L.popup({"maxWidth": "100%"});

        
            
                var html_e3054a02a6d3854f320b3bf4536e07e3 = $(`<div id="html_e3054a02a6d3854f320b3bf4536e07e3" style="width: 100.0%; height: 100.0%;">Angel infra sports</div>`)[0];
                popup_a5f3379e5f78207c1bfd88d711ebf1ae.setContent(html_e3054a02a6d3854f320b3bf4536e07e3);
            
        

        marker_4eaa2ac031922cfb49678fa683f420c8.bindPopup(popup_a5f3379e5f78207c1bfd88d711ebf1ae)
        ;

        
    
    
            var marker_1c244fd043fab8dd307fb30b48ba2ab1 = L.marker(
                [19.1152808, 72.8595469],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_0a0f3a7be9801656e27995e50c146a0c = L.popup({"maxWidth": "100%"});

        
            
                var html_6558824925896ef3930864f8b3b3265c = $(`<div id="html_6558824925896ef3930864f8b3b3265c" style="width: 100.0%; height: 100.0%;">Ganesh Football & Cricket Turf Installer</div>`)[0];
                popup_0a0f3a7be9801656e27995e50c146a0c.setContent(html_6558824925896ef3930864f8b3b3265c);
            
        

        marker_1c244fd043fab8dd307fb30b48ba2ab1.bindPopup(popup_0a0f3a7be9801656e27995e50c146a0c)
        ;

        
    
    
            var marker_bdb99bfb0e93eec8b8aec922560dcf4e = L.marker(
                [19.1075899, 72.8892328],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_dacb2a972c185e6e2fb3f9c4930b40b0 = L.popup({"maxWidth": "100%"});

        
            
                var html_609d09371a92d71385eed91c8433bdd7 = $(`<div id="html_609d09371a92d71385eed91c8433bdd7" style="width: 100.0%; height: 100.0%;">Players Turf At Sakinaka</div>`)[0];
                popup_dacb2a972c185e6e2fb3f9c4930b40b0.setContent(html_609d09371a92d71385eed91c8433bdd7);
            
        

        marker_bdb99bfb0e93eec8b8aec922560dcf4e.bindPopup(popup_dacb2a972c185e6e2fb3f9c4930b40b0)
        ;

        
    
    
            var marker_6fe82bfd58ed16d24ea84ebaa1dbd5ce = L.marker(
                [19.096861, 72.84083269999999],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_3b972bcd9cd222cea9184fd02737b502 = L.popup({"maxWidth": "100%"});

        
            
                var html_d967a743ef15f3759384d2fb5544ccfb = $(`<div id="html_d967a743ef15f3759384d2fb5544ccfb" style="width: 100.0%; height: 100.0%;">AIM Sports Turf</div>`)[0];
                popup_3b972bcd9cd222cea9184fd02737b502.setContent(html_d967a743ef15f3759384d2fb5544ccfb);
            
        

        marker_6fe82bfd58ed16d24ea84ebaa1dbd5ce.bindPopup(popup_3b972bcd9cd222cea9184fd02737b502)
        ;

        
    
    
            var marker_5dfc508d0d73d42832c32c32c8089d48 = L.marker(
                [19.0990614, 72.8805807],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_ac67ca21358e67d91d05460ae8623174 = L.popup({"maxWidth": "100%"});

        
            
                var html_93a3c5dc5804af6ef240025e15c2e5f1 = $(`<div id="html_93a3c5dc5804af6ef240025e15c2e5f1" style="width: 100.0%; height: 100.0%;">The Spirit Field Cricket Turf</div>`)[0];
                popup_ac67ca21358e67d91d05460ae8623174.setContent(html_93a3c5dc5804af6ef240025e15c2e5f1);
            
        

        marker_5dfc508d0d73d42832c32c32c8089d48.bindPopup(popup_ac67ca21358e67d91d05460ae8623174)
        ;

        
    
    
            var marker_11c09a3c239b6d720c90bbb285f034e7 = L.marker(
                [19.0957232, 72.8467284],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_3f11578b3eecadbd0ec403e57faca475 = L.popup({"maxWidth": "100%"});

        
            
                var html_9a7bf31b78ebd5d1402963fb80c815e3 = $(`<div id="html_9a7bf31b78ebd5d1402963fb80c815e3" style="width: 100.0%; height: 100.0%;">NSM Sports Turf - RK Sports Academy</div>`)[0];
                popup_3f11578b3eecadbd0ec403e57faca475.setContent(html_9a7bf31b78ebd5d1402963fb80c815e3);
            
        

        marker_11c09a3c239b6d720c90bbb285f034e7.bindPopup(popup_3f11578b3eecadbd0ec403e57faca475)
        ;

        
    
    
            var marker_9d30c311d480b6cd0a5687df10a39293 = L.marker(
                [19.1022789, 72.8859228],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_2660aca58bab81f6e12e8e9eddb478ed = L.popup({"maxWidth": "100%"});

        
            
                var html_5e47bc874a0cd72d496d46e3efdaaa7e = $(`<div id="html_5e47bc874a0cd72d496d46e3efdaaa7e" style="width: 100.0%; height: 100.0%;">Players Turf At Saki Naka (Sagar Tech Plaza)</div>`)[0];
                popup_2660aca58bab81f6e12e8e9eddb478ed.setContent(html_5e47bc874a0cd72d496d46e3efdaaa7e);
            
        

        marker_9d30c311d480b6cd0a5687df10a39293.bindPopup(popup_2660aca58bab81f6e12e8e9eddb478ed)
        ;

        
    
    
            var marker_8de6ac236647925b6d9adbdafc4fd609 = L.marker(
                [19.1352301, 72.8505601],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_fd1d4a46107dc44b54fe723eba40210d = L.popup({"maxWidth": "100%"});

        
            
                var html_559ffeec8741d59454fe493c74baea07 = $(`<div id="html_559ffeec8741d59454fe493c74baea07" style="width: 100.0%; height: 100.0%;">JES TURF</div>`)[0];
                popup_fd1d4a46107dc44b54fe723eba40210d.setContent(html_559ffeec8741d59454fe493c74baea07);
            
        

        marker_8de6ac236647925b6d9adbdafc4fd609.bindPopup(popup_fd1d4a46107dc44b54fe723eba40210d)
        ;

        
    
    
            var marker_8f8ada25185535bb48a85d074639009d = L.marker(
                [19.09687, 72.84085470000001],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_542581048b4f60650f6f4acc06a060e8 = L.popup({"maxWidth": "100%"});

        
            
                var html_be27f613efec558b6cdaa8ebfab6f3a7 = $(`<div id="html_be27f613efec558b6cdaa8ebfab6f3a7" style="width: 100.0%; height: 100.0%;">Urban Sports - Nanavati</div>`)[0];
                popup_542581048b4f60650f6f4acc06a060e8.setContent(html_be27f613efec558b6cdaa8ebfab6f3a7);
            
        

        marker_8f8ada25185535bb48a85d074639009d.bindPopup(popup_542581048b4f60650f6f4acc06a060e8)
        ;

        
    
    
            var marker_a15222d8266f5e91907b84341319a6b3 = L.marker(
                [19.1281162, 72.8373977],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_8ecdc2f6e0876a1abd64ebf1b4f617b7 = L.popup({"maxWidth": "100%"});

        
            
                var html_c6464f975ee66c4e077302a67734450f = $(`<div id="html_c6464f975ee66c4e077302a67734450f" style="width: 100.0%; height: 100.0%;">UMRB Turf, Azad Nagar - by SPORLOC</div>`)[0];
                popup_8ecdc2f6e0876a1abd64ebf1b4f617b7.setContent(html_c6464f975ee66c4e077302a67734450f);
            
        

        marker_a15222d8266f5e91907b84341319a6b3.bindPopup(popup_8ecdc2f6e0876a1abd64ebf1b4f617b7)
        ;

        
    
    
            var marker_994e2de9a2d085c0a82b69c41898cfec = L.marker(
                [19.1198855, 72.8637743],
                {}
            ).addTo(map_29fc055954878b6c60ea34e471f78193);
        
    
        var popup_05e05688fe8fb828119a6b5d121bf001 = L.popup({"maxWidth": "100%"});

        
            
                var html_702b3a4491399de2a0b9fa0cb85b80fa = $(`<div id="html_702b3a4491399de2a0b9fa0cb85b80fa" style="width: 100.0%; height: 100.0%;">Xylo sports</div>`)[0];
                popup_05e05688fe8fb828119a6b5d121bf001.setContent(html_702b3a4491399de2a0b9fa0cb85b80fa);
            
        

        marker_994e2de9a2d085c0a82b69c41898cfec.bindPopup(popup_05e05688fe8fb828119a6b5d121bf001)
        ;

        
    
</script>
</html>