<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c119de1b2e6d8d2f67ec3975fb789d37 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_c119de1b2e6d8d2f67ec3975fb789d37" ></div>
        
</body>
<script>
    
    
            var map_c119de1b2e6d8d2f67ec3975fb789d37 = L.map(
                "map_c119de1b2e6d8d2f67ec3975fb789d37",
                {
                    center: [19.1148142, 72.8611366],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_caf3d0e4ac09d225d69f363af5f8360c = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_caf3d0e4ac09d225d69f363af5f8360c.addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
            var marker_984760cb33543170d877139eb8cc03ac = L.marker(
                [19.1091081, 72.8835519],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_757b155d7febb6416ef3c876f69b5e3a = L.popup({"maxWidth": "100%"});

        
            
                var html_e2c4dc0fa5fe13a028fe47b59601483d = $(`<div id="html_e2c4dc0fa5fe13a028fe47b59601483d" style="width: 100.0%; height: 100.0%;">Five Nine Turf</div>`)[0];
                popup_757b155d7febb6416ef3c876f69b5e3a.setContent(html_e2c4dc0fa5fe13a028fe47b59601483d);
            
        

        marker_984760cb33543170d877139eb8cc03ac.bindPopup(popup_757b155d7febb6416ef3c876f69b5e3a)
        ;

        
    
    
            var marker_a4102b31d9895e3e6fe79c16b1c606b5 = L.marker(
                [19.1014157, 72.88228579999999],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_214d833577bcea15f1889ad9f1302fe7 = L.popup({"maxWidth": "100%"});

        
            
                var html_1de09f54c88ecd55c87b587b2114ff65 = $(`<div id="html_1de09f54c88ecd55c87b587b2114ff65" style="width: 100.0%; height: 100.0%;">FALAH SPORTS & TURF</div>`)[0];
                popup_214d833577bcea15f1889ad9f1302fe7.setContent(html_1de09f54c88ecd55c87b587b2114ff65);
            
        

        marker_a4102b31d9895e3e6fe79c16b1c606b5.bindPopup(popup_214d833577bcea15f1889ad9f1302fe7)
        ;

        
    
    
            var marker_a1e51b99e356505912c45a0f52c1864b = L.marker(
                [19.1224398, 72.8627496],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_94ea720e97ded6ab8bd6a1432cf625fe = L.popup({"maxWidth": "100%"});

        
            
                var html_adf1836799f30944fc4ed0fc2406016e = $(`<div id="html_adf1836799f30944fc4ed0fc2406016e" style="width: 100.0%; height: 100.0%;">Players Turf, Mahakali Caves</div>`)[0];
                popup_94ea720e97ded6ab8bd6a1432cf625fe.setContent(html_adf1836799f30944fc4ed0fc2406016e);
            
        

        marker_a1e51b99e356505912c45a0f52c1864b.bindPopup(popup_94ea720e97ded6ab8bd6a1432cf625fe)
        ;

        
    
    
            var marker_6fbcf67b122bc0ac782176ef9afeaabf = L.marker(
                [19.1378337, 72.8460126],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_22bf26b3826ab196104c1b4b69f497b0 = L.popup({"maxWidth": "100%"});

        
            
                var html_841c301b35e7d133af6bf30468391792 = $(`<div id="html_841c301b35e7d133af6bf30468391792" style="width: 100.0%; height: 100.0%;">Greatest of all turf - Best Turf In Mumbai</div>`)[0];
                popup_22bf26b3826ab196104c1b4b69f497b0.setContent(html_841c301b35e7d133af6bf30468391792);
            
        

        marker_6fbcf67b122bc0ac782176ef9afeaabf.bindPopup(popup_22bf26b3826ab196104c1b4b69f497b0)
        ;

        
    
    
            var marker_bd8a7e4efc143ac3c491b23046895430 = L.marker(
                [19.1020189, 72.84243839999999],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_e22c296585d44aeb9b852d3d2ae9a5a4 = L.popup({"maxWidth": "100%"});

        
            
                var html_754ea0bf58db9c5aba9e0bb0af78d219 = $(`<div id="html_754ea0bf58db9c5aba9e0bb0af78d219" style="width: 100.0%; height: 100.0%;">Angel infra sports</div>`)[0];
                popup_e22c296585d44aeb9b852d3d2ae9a5a4.setContent(html_754ea0bf58db9c5aba9e0bb0af78d219);
            
        

        marker_bd8a7e4efc143ac3c491b23046895430.bindPopup(popup_e22c296585d44aeb9b852d3d2ae9a5a4)
        ;

        
    
    
            var marker_e1ea38a01519bf42ee8dfc4925ef095a = L.marker(
                [19.1152808, 72.8595469],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_e31da72112509a4a6c7eecef0d4996b3 = L.popup({"maxWidth": "100%"});

        
            
                var html_47078a023c3b1aae304f8c84b52a8bf5 = $(`<div id="html_47078a023c3b1aae304f8c84b52a8bf5" style="width: 100.0%; height: 100.0%;">Ganesh Football & Cricket Turf Installer</div>`)[0];
                popup_e31da72112509a4a6c7eecef0d4996b3.setContent(html_47078a023c3b1aae304f8c84b52a8bf5);
            
        

        marker_e1ea38a01519bf42ee8dfc4925ef095a.bindPopup(popup_e31da72112509a4a6c7eecef0d4996b3)
        ;

        
    
    
            var marker_954ccbe93581e7e1f521334f425d32e6 = L.marker(
                [19.096861, 72.84083269999999],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_6cbf0af0191315234a2bcf85c1f12a86 = L.popup({"maxWidth": "100%"});

        
            
                var html_6d92d062c25c3f47bd03405181450e09 = $(`<div id="html_6d92d062c25c3f47bd03405181450e09" style="width: 100.0%; height: 100.0%;">AIM Sports Turf</div>`)[0];
                popup_6cbf0af0191315234a2bcf85c1f12a86.setContent(html_6d92d062c25c3f47bd03405181450e09);
            
        

        marker_954ccbe93581e7e1f521334f425d32e6.bindPopup(popup_6cbf0af0191315234a2bcf85c1f12a86)
        ;

        
    
    
            var marker_58827931192b825c4885acab415b2b4a = L.marker(
                [19.1281209, 72.8374594],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_dbdfddb28a197588060f7cea5a9ccbf9 = L.popup({"maxWidth": "100%"});

        
            
                var html_88bfdfaddbdc801b69b9080268dc3cb4 = $(`<div id="html_88bfdfaddbdc801b69b9080268dc3cb4" style="width: 100.0%; height: 100.0%;">UMRB Turf, Azad Nagar - by SPORLOC</div>`)[0];
                popup_dbdfddb28a197588060f7cea5a9ccbf9.setContent(html_88bfdfaddbdc801b69b9080268dc3cb4);
            
        

        marker_58827931192b825c4885acab415b2b4a.bindPopup(popup_dbdfddb28a197588060f7cea5a9ccbf9)
        ;

        
    
    
            var marker_cd967306c926a50309e292d276e56382 = L.marker(
                [19.0990763, 72.8805373],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_92ce141e6a92a9b2d7ccf79ff7d93da0 = L.popup({"maxWidth": "100%"});

        
            
                var html_ff58ebe69b6663b19733450273a43602 = $(`<div id="html_ff58ebe69b6663b19733450273a43602" style="width: 100.0%; height: 100.0%;">The Spirit Field Cricket Turf</div>`)[0];
                popup_92ce141e6a92a9b2d7ccf79ff7d93da0.setContent(html_ff58ebe69b6663b19733450273a43602);
            
        

        marker_cd967306c926a50309e292d276e56382.bindPopup(popup_92ce141e6a92a9b2d7ccf79ff7d93da0)
        ;

        
    
    
            var marker_ab32528b93beeaccc8c412142c6d947f = L.marker(
                [19.0957232, 72.8467284],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_63b27390dab31b6e9a9c6a53bde95693 = L.popup({"maxWidth": "100%"});

        
            
                var html_24490832b6a6dd8ff7937146c2d3ed61 = $(`<div id="html_24490832b6a6dd8ff7937146c2d3ed61" style="width: 100.0%; height: 100.0%;">NSM Sports Turf - RK Sports Academy</div>`)[0];
                popup_63b27390dab31b6e9a9c6a53bde95693.setContent(html_24490832b6a6dd8ff7937146c2d3ed61);
            
        

        marker_ab32528b93beeaccc8c412142c6d947f.bindPopup(popup_63b27390dab31b6e9a9c6a53bde95693)
        ;

        
    
    
            var marker_b93acb48f801fabef8ed5b44aed734f1 = L.marker(
                [19.1022789, 72.8859228],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_85f4f3020652d14b4118554d9eee1e48 = L.popup({"maxWidth": "100%"});

        
            
                var html_6dd3d36f206113f97184169b4fbdc0e2 = $(`<div id="html_6dd3d36f206113f97184169b4fbdc0e2" style="width: 100.0%; height: 100.0%;">Players Turf At Saki Naka (Sagar Tech Plaza)</div>`)[0];
                popup_85f4f3020652d14b4118554d9eee1e48.setContent(html_6dd3d36f206113f97184169b4fbdc0e2);
            
        

        marker_b93acb48f801fabef8ed5b44aed734f1.bindPopup(popup_85f4f3020652d14b4118554d9eee1e48)
        ;

        
    
    
            var marker_3cc34e1c244e8f658de686079e36f237 = L.marker(
                [19.1352301, 72.8505601],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_2c7a8ea27c134b2dc31a3252253d6c7a = L.popup({"maxWidth": "100%"});

        
            
                var html_d5c1c1d38e5f72a59854c6e277ecfd73 = $(`<div id="html_d5c1c1d38e5f72a59854c6e277ecfd73" style="width: 100.0%; height: 100.0%;">JES TURF</div>`)[0];
                popup_2c7a8ea27c134b2dc31a3252253d6c7a.setContent(html_d5c1c1d38e5f72a59854c6e277ecfd73);
            
        

        marker_3cc34e1c244e8f658de686079e36f237.bindPopup(popup_2c7a8ea27c134b2dc31a3252253d6c7a)
        ;

        
    
    
            var marker_034ef6c048153f562ab8d3b53330a9de = L.marker(
                [19.0909164, 72.84156360000001],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_c60a47ac859e1bd404164b4101a733e6 = L.popup({"maxWidth": "100%"});

        
            
                var html_86a320a80e9d0d99ab89e6779d1303c1 = $(`<div id="html_86a320a80e9d0d99ab89e6779d1303c1" style="width: 100.0%; height: 100.0%;">Milan Subway Turf</div>`)[0];
                popup_c60a47ac859e1bd404164b4101a733e6.setContent(html_86a320a80e9d0d99ab89e6779d1303c1);
            
        

        marker_034ef6c048153f562ab8d3b53330a9de.bindPopup(popup_c60a47ac859e1bd404164b4101a733e6)
        ;

        
    
    
            var marker_6b89ab28d6f5694e3bf515f976b41d11 = L.marker(
                [19.09687, 72.84085470000001],
                {}
            ).addTo(map_c119de1b2e6d8d2f67ec3975fb789d37);
        
    
        var popup_8474ab1b13aa1cfba4657cad03d58896 = L.popup({"maxWidth": "100%"});

        
            
                var html_050a65775bc545ed20cef38b957cfbdb = $(`<div id="html_050a65775bc545ed20cef38b957cfbdb" style="width: 100.0%; height: 100.0%;">Urban Sports - Nanavati</div>`)[0];
                popup_8474ab1b13aa1cfba4657cad03d58896.setContent(html_050a65775bc545ed20cef38b957cfbdb);
            
        

        marker_6b89ab28d6f5694e3bf515f976b41d11.bindPopup(popup_8474ab1b13aa1cfba4657cad03d58896)
        ;

        
    
</script>
</html>