<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turf Booking Dashboard</title>
    <link rel="stylesheet" href="../static/css/slotbooking.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 id="turfName" name="turfName"></h1>
      <!-- <h1 id="placeName"></h1> -->
      <form action="/submit_booking" class="form" id="availabilityForm">
        <label for="date">Select Date:</label>
        <input type="date" id="date" name="date" class="input-field" min="" />
        <div class="button-container" id="buttonContainer"></div>
        <!-- <button type="submit" class="btn">Check Availability</button> -->
      </form>
      <div class="availability" id="availabilitySlots">
        <h2>Available Slots</h2>
        <ul class="list" id="availableSlotsList"></ul>
      </div>
      <div class="booking-form">
        <h2>Book a Slot</h2>
        <form action="#" class="form">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            required
            class="input-field"
          />
          <label for="mobile">Mobile No:</label> 
          <input
            type="tel"
            id="mobile"
            name="slot_mobile"
            required
            class="input-field"
          />
          <div class="payment-method">
            <label for="payment">Mode of Payment:</label>
            <input type="radio" id="payment" name="payment" value="cash" required> Cash
          </div>
          <div class="empty-container"></div> 
          <button type="submit" class="btn">Confirm</button> 
        </form>
      </div>
      <div class="total-container">
        <span id="totalAmount"></span>
      </div>
    </div>
    <script src="../static/js/slotbooking.js"></script>
  </body>
</html>
