<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tennis Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <!--Back button-->
  <button class="back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i></button>

    <!-- Search box -->
    <div class="search-container">
      <input type="text" id="TennissearchInput" placeholder="Search places..." style="width: 400px;">
      <button onclick="searchTennisTurf()"><i class="fas fa-search"></i></button>
   </div>

   <!-- Place containers -->
   <div class="container-wrapper">
    <div class="container">
    
      <div class="place">
        <div class="place-image">
          <img src="https://example.com/default_tennis_image.jpg" alt="Mumbai University Tennis Court, AITA Tennis Centre for Excellence Image">
        </div>
        <div class="place-info">
          <h1>Mumbai University Tennis Court, AITA Tennis Centre for Excellence</h1>
          <p class="bold">Location: Vidya Nagari North Gate, Kolivery Village, University of Mumbai,Vidya Nagari, Kalina, Santacruz East, Mumbai</p>
          <p class="bold">Hourly Price: ₹880</p>
          <p class="bold">Rating: 1.7</p>
          <a href="/slotbooking?name=Mumbai University Tennis Court, AITA Tennis Centre for Excellence"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://example.com/default_tennis_image.jpg" alt="All India Tennis Academy Image">
        </div>
        <div class="place-info">
          <h1>All India Tennis Academy</h1>
          <p class="bold">Location: 3VM5+PMX, Air India Ground, Vakola, Santacruz East, Mumbai</p>
          <p class="bold">Hourly Price: ₹979</p>
          <p class="bold">Rating: 1.4</p>
          <a href="/slotbooking?name=All India Tennis Academy"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZ3zCUFD--sbP8WKgJVEpUYpK0Mqah_8HWw5calOQgN5aUkayJzuYFrhnQ7Mqfg3H0aWff_fRjFlh4zgrf9Cq-nhmnHrLAb0kLoAoPKRUwstxE7NLr9KPV1kOTn0dzmQ8yk43kExDhbQaLbwghevOmRYhdHulb5HAccQNqRXEdE151Q&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Tuff Tennis Academy Image">
        </div>
        <div class="place-info">
          <h1>Tuff Tennis Academy</h1>
          <p class="bold">Location: Juhu, Mumbai</p>
          <p class="bold">Hourly Price: ₹501</p>
          <p class="bold">Rating: 4.3</p>
          <a href="/slotbooking?name=Tuff Tennis Academy"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbLB-LRpckQm0fu1x0Pg0tqO6ojvhY3HuBWeleLI6vZXlpMxSGQmq_tiP-dLEI1F-xKvOq3qYVuJROj5Xf5dy2Fn6l4ojvIEVx1I_rCcufC7KBxA4e_ebdx3EViPAZUadPMJ7f0Ybhy3iEUmTQ76kA7IPa6VJL1856dZ6hCf5mK6sXp&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="AITA Trust Tennis Courts, inside university of Mumbai Image">
        </div>
        <div class="place-info">
          <h1>AITA Trust Tennis Courts, inside university of Mumbai</h1>
          <p class="bold">Location: 3VF2+6GQ, विद्यापिठ, Kolivery Village, Vidya Nagari, Kalina, Santacruz East, Mumbai</p>
          <p class="bold">Hourly Price: ₹748</p>
          <p class="bold">Rating: 4.3</p>
          <a href="/slotbooking?name=AITA Trust Tennis Courts, inside university of Mumbai"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJY5xztwPXXBedOcTgHUoAHK6McinTDUgVZwwQwej6SWqooiSBFwD4jpGjbKZgO511UNIX-NlErdAuW1lBl33fqKVivzwncq43ZpAuCBUO9xzKFAj2bRA_DZK0LvNF3KNe7SxwfIfZHq1ui4hGdYq8ievIVozvYo2rnlsVKu-Agq1sFA&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Tennace Academy Image">
        </div>
        <div class="place-info">
          <h1>Tennace Academy</h1>
          <p class="bold">Location: Catholic Gymkhana, Church Ave, near Khar Subway, Khar, Willingdon, Santacruz West, Mumbai</p>
          <p class="bold">Hourly Price: ₹690</p>
          <p class="bold">Rating: 3.8</p>
          <a href="/slotbooking?name=Tennace Academy"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
    </div>
   </div>

  <script src="../static/js/turf_info.js"></script>
</body>
</html>