<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yoga Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <!--Back button-->
  <button class="back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i></button>

    <!-- Search box -->
    <div class="search-container">
      <input type="text" id="YogasearchInput" placeholder="Search places..." style="width: 400px;">
      <button onclick="searchYogaPlace()"><i class="fas fa-search"></i></button>
   </div>

   <!-- Place containers -->
   <div class="container-wrapper">
    <div class="container">
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYz-RKzqfOUJpVymLOzM3QiEiO2zaCxoiw6oK0odvv6dfZJ3FyfJR4g8eEt89vdFbP6bbSHNP3M1NF3Hg9FcabVfPUKYQFJnu0znLAI93k_3kogpQ4KfABsh1NBtGkOKm4RoUAvev177Kpyw6rh73KwUgebqkvLNunpSPJG7Qa2ogPv&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Yogasadhana Image">
        </div>
        <div class="place-info">
          <h1>Yogasadhana</h1>
          <p class="bold">Location: Sai Krupa Building, Veera Desai Rd, near Mahalaxmi Society, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹774</p>
          <p class="bold">Rating: 3.2</p>
          <a href="/slotbooking?name=Yogasadhana"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYf6m8W4pBBcrQNCJV6AN2bUn3PUL1r6Na-_eTCZeaoKHA7Sf4SuFY7Ia8YZDg-Uueh7Qi0RBhqN0JRCRH0ad1L0Ln2SgvVdKbOM0Wl6TFdBRzARaJ2ePCSawBBpEfqMElzX8S75Szr-KsrnUBZvbDq_LAyRaxcLRBMQjObBFODD2YB&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="R S YOGA SCHOOL Image">
        </div>
        <div class="place-info">
          <h1>R S YOGA SCHOOL</h1>
          <p class="bold">Location: 21 MINAXI APT, Swami Vivekananda Rd, opp. GOLDEN TOBACCO, Vile Parle West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹728</p>
          <p class="bold">Rating: 3.0</p>
          <a href="/slotbooking?name=R S YOGA SCHOOL"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJb_-l2YHJci4SinoJ0HW4puUzKKaKj9dyGsnVLdS49XpHIN6cNQPrUP3HvQRRuBVtGHfNZc_adEf-_cU5l1YOl-Hy7iZpIuV0zkR7lK4koqT-fTmDQSZce5GH1SEsMvNoPg31eTcSZ6cOQNQa8nxz84OTiErtLfGuGRBf8P5tP8zW8R&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="YogAngle Studio Image">
        </div>
        <div class="place-info">
          <h1>YogAngle Studio</h1>
          <p class="bold">Location: 5th Floor, E Square Building, Subhash Rd, above State Bank of India, Vishnu Prasad Society, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹734</p>
          <p class="bold">Rating: 1.4</p>
          <a href="/slotbooking?name=YogAngle Studio"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJblKN8bur2Jgl9D_0w0722wz3L9HBGBonuosYbigF9rljauJumwFnD7X9XobcS0OrCifxdSU5GywnzDZIwL7p3dRBFgCfDegbquwRQsIxLE_uibmZeVwadG77tYnvtfWvTp5oXbqFu2KOO5VT4l59pSL8hpGSkmssCIull2jehBzGdB&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Mandeep Hot Yoga Image">
        </div>
        <div class="place-info">
          <h1>Mandeep Hot Yoga</h1>
          <p class="bold">Location: Gazdhar Enclave, Plot C - 14, 502, 5th Floor, Off Veera Desai Rd, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹810</p>
          <p class="bold">Rating: 2.8</p>
          <a href="/slotbooking?name=Mandeep Hot Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbD-s-tpNpqbDDPA5oiIIZ6l3OoxgTV7JdQho943c51mKcguMCuFimsPcsU0Cg5I-8sZ5W_wTmp7cDwLA-0veFUkX6lsSXcsfuL8RntNeCgRSObplPbet9MSPi6oktfHM6DwHJq9kz8n1LSwuDaSUIEbOYoLaq1ilqLSxHEuxwlwkr1&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Sohum Studios by Hetal Image">
        </div>
        <div class="place-info">
          <h1>Sohum Studios by Hetal</h1>
          <p class="bold">Location: Everest Terraces, Tejpal Rd, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹800</p>
          <p class="bold">Rating: 2.5</p>
          <a href="/slotbooking?name=Sohum Studios by Hetal"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYPPU0ByVQJXyNklYyQOpo_3frLlirxvJf1DBG_5BDCf5qWTiT2SpGP3QolpCkf2LlHSveSjJJPhBhcxHt4MQXo3-pE0i1usHsmrh4iDLMPEEaPQy43auCILrauHuxh5hmjevmjAoIq9B6vbAM0F4I08FzVVnGIyceHZjGckhnCPKr9&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Prachi P Goradia's Sattva Yoga Image">
        </div>
        <div class="place-info">
          <h1>Prachi P Goradia's Sattva Yoga</h1>
          <p class="bold">Location: Move - The Studio 102, Leena Residency, Devpur Niketan, Gulmohar Road, JVPD Scheme, Mumbai</p>
          <p class="bold">Hourly Price:  ₹612</p>
          <p class="bold">Rating: 3.8</p>
          <a href="/slotbooking?name=Prachi P Goradia's Sattva Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJau824Xf3nsV3SsaruhsoUnnCFGEcUOm9Z-OoZirsg6PXza5dNTOYqk0b4oHTEJIquKWnMgbZfCKrtlNopm764ZlHj4erOXtwn1zcFKqkqO8fhNgh0BFgUKYQpPFBL-XQTv5bhov8xxv_lPTtgjZPoJqCRK-IDfOXFcfBo4dFP7Zz1t&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Bharatiya Yoga Mandir Image">
        </div>
        <div class="place-info">
          <h1>Bharatiya Yoga Mandir</h1>
          <p class="bold">Location: Society road Saraswat Colony, JES English school, Jogeshwari West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹823</p>
          <p class="bold">Rating: 4.2</p>
          <a href="/slotbooking?name=Bharatiya Yoga Mandir"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbeWRZERde-xKZnp9lFqlIxxnTpMLs1nElR7vfzcqgjSIJpAXgjtpUCBhsY00mPwdY2PBT1Z9G8ZeRtuGIr9setxNnlIzuFiicF4116udpH0aZB4HF65oz7ub2IMKYEhCO3pKvYSPXSu6UpwqEj1-ctKMDZpVRERTamslYAEt6pG2Gs&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="The YogArt Studio Image">
        </div>
        <div class="place-info">
          <h1>The YogArt Studio</h1>
          <p class="bold">Location: 202 Trishla Appts, 152/C, SV Road, S.V. Road, near Sony Mony, next to CNMS Signal, Vile Parle West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹952</p>
          <p class="bold">Rating: 3.1</p>
          <a href="/slotbooking?name=The YogArt Studio"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZ7Ff571GJuK5NmWjuw0cWPV6rp3kiQo0QaxPdxs-DT3JgkQtdSa4XgSSrc9UaaA5UQZco2E-7aZ6SwUIJNn-iwkmap3V8NX_UA9Tjxmny4xipIiQzKiU1eu8Zq0CIMBI8iYakY1VSUJ8yY3mb95qs8T4vqbxzHOxcKX4DjrvQpXpLK&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Nuage Hot Yoga Image">
        </div>
        <div class="place-info">
          <h1>Nuage Hot Yoga</h1>
          <p class="bold">Location: 1005, Lotus link Square, Metro Station, New Link Rd, above Bank of Baroda, Manmandir Co.operative Housing Society, Shitladevi Chawl, D.N.Nagar, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹682</p>
          <p class="bold">Rating: 2.0</p>
          <a href="/slotbooking?name=Nuage Hot Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJapyzo1orDJjXXRM6vEuXILBHtKq1bXwpfOHr0tz2q4_OTd0OeSyfgbxsEtYiY_z-cbn9yiM0rkpvXLS3wo4GUPx4vJOZtulSWN8Eiq2B9WqMw5vYie5zcrElUu2LemuDbIeik1emykMbgzoH7aGGEKzXwJfozBtdw4k7E5lC-21Eus&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Sadguru Mangeshda Kriya Yoga Foundation Image">
        </div>
        <div class="place-info">
          <h1>Sadguru Mangeshda Kriya Yoga Foundation</h1>
          <p class="bold">Location: 4th Floor, Casa Cama Co-operative HSG. Society, Shanti Road, Juhu, Mumbai</p>
          <p class="bold">Hourly Price:  ₹500</p>
          <p class="bold">Rating: 1.3</p>
          <a href="/slotbooking?name=Sadguru Mangeshda Kriya Yoga Foundation"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYANb7kfNl2BZGPTjZNtBTPDSQurJS6Q3ZSCgtYK49aL0l4jJa8rnqqeMO8LWFVqaS13dMeihJPmWLKQKjg4GHiK8K8l46DmexoGQgnmIGjc8qkuUnrBWv89MmotpC4fNcHUgSywq_dfh0cScXyQCMsNj92pJmb6JSLrOQ-VSnnaQ4J&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Ajinkya Meher Yoga Image">
        </div>
        <div class="place-info">
          <h1>Ajinkya Meher Yoga</h1>
          <p class="bold">Location: Bus Depot, G-3, Ground floor, G7 Mall, Metro Station, next to 7 bunglows, near Versova, Versova, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹711</p>
          <p class="bold">Rating: 4.0</p>
          <a href="/slotbooking?name=Ajinkya Meher Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbyKGdn5Sk3V_mmNIQ6xC21hTHP3Lo2r-cUsQQXOt79SyLGhCXcuVl5ZTH0dXOkU8LHf4xRK4fUYB4GB2BCsaI-F8W9FkakFE6lVwnreFOGzZc4fA3mAHrsiwdkC2-_InPZannWITVHDfOBHB4THVPmaSIfVv2RYuze65J2cim8ODC0&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="New Age Yoga Image">
        </div>
        <div class="place-info">
          <h1>New Age Yoga</h1>
          <p class="bold">Location: Hedgewar Studio, Hanuman Rd, opp. Janata Sahakari Bank Ltd, Satsang CHSL, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹817</p>
          <p class="bold">Rating: 3.1</p>
          <a href="/slotbooking?name=New Age Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbq88FW29gbuLr_x-xI7z3toduaWxXTBABGHqkcLYgYqDASr4HeX3FggChd525TvG9wJqgvBjLyr6bHNDQZkEdhAyS3C773ngZLw03XZadd1JjLCDoWR-VPxyUQhxMMjEZ2aS1GUO6ZdEDZ4S8COLOLUfFIdzIVXsjXjg9p3YiP5lN5&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="neeom yog and sadhana Image">
        </div>
        <div class="place-info">
          <h1>neeom yog and sadhana</h1>
          <p class="bold">Location: B-20 gautm apartments, Rayalsavid Link Road, JP Rd, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹679</p>
          <p class="bold">Rating: 2.1</p>
          <a href="/slotbooking?name=neeom yog and sadhana"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaTg8_jXXlVlu2TnHwxZRISxwRWhRPLw2XEGT4kfZvPKklZ63gEwyYDiOn7pr5fJqxaUUyKsF6e3QFDT3MgE1BxITXvTYdu-RTDKy1FdKQszV9s0Kp_ubDmM2Qqey3hL6ahfXyDWeIenAElkoWYTTfmVyhzkYXyv4oYiFMSYp9_Y7IE&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Yoga With Deepa Image">
        </div>
        <div class="place-info">
          <h1>Yoga With Deepa</h1>
          <p class="bold">Location: Thukral Palace, 231, Mahakali Caves Rd, Anand Vihar, Sher E Punjab Colony, Andheri East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹804</p>
          <p class="bold">Rating: 4.5</p>
          <a href="/slotbooking?name=Yoga With Deepa"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYvgsqqsklBjEacSO_NHF-OIBUy_kmMgk-yv2jOzwu9NiKYpT2PlWLUvLYMncvAl1WVJ-LOyOT5zQvuVsIW5_C4hJtvT5GcbHD2twIk9-wXWxgp3-eTirsISWiGsPiQN9NSLHRmIsgqYTYs3oLCt2aEln_iGtnyrHe1sAMDzTE9idUG&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Asan Yoga School Image">
        </div>
        <div class="place-info">
          <h1>Asan Yoga School</h1>
          <p class="bold">Location: I. T. KALADALAN (Inside Shivaji Vidyalaya, Off, Hanuman Rd, Vile Parle East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹951</p>
          <p class="bold">Rating: 2.7</p>
          <a href="/slotbooking?name=Asan Yoga School"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbWSF6VrcDA4frkQRTzjc6RjptB0s6pEhYyYZmre3hCgbZLwvrnSht6XJZJdhxkWy4JSgvfS6rvQtK_InwMCaGORatgckn-OVU8NiGYp5X0_qUgtvUnSfYr9Qu6_6qwC1l_ynyYs7EmU7XEbZL3TIPkN7HQT3tAYwfwJ5acmE280yk2&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Neo Fitness Studio Image">
        </div>
        <div class="place-info">
          <h1>Neo Fitness Studio</h1>
          <p class="bold">Location: Royal Enclave, B/111, 1st Floo, Next to Sona Udyog Bhavan, Andheri, E, Parsi Panchayat Rd, Mumbai</p>
          <p class="bold">Hourly Price:  ₹600</p>
          <p class="bold">Rating: 1.7</p>
          <a href="/slotbooking?name=Neo Fitness Studio"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbIXCQSty_RGR2MRGJF0YW_IzaL9UwBfnNxCY4Cq7XfHFMmk0_1JmwB8yiykAuyYDhQAhXxRia7SpXOunAOII-0umtvAfQQ_03eI4Wj1zx2x6-8LVpKzETT_mwIVKHVT2zI8k-Ii_3Eu-cPVxdbfB3KtAgBUU96UWUnN-sVu37hIuf2&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Ekatvam Yoga Classes Image">
        </div>
        <div class="place-info">
          <h1>Ekatvam Yoga Classes</h1>
          <p class="bold">Location: Parle Kalpataru CHSL, Gujarati Society, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹797</p>
          <p class="bold">Rating: 3.7</p>
          <a href="/slotbooking?name=Ekatvam Yoga Classes"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYZIR7c7T222qA0BRvXy4_3jIfvhUNXceBayftl9qNHG2qX_8r99SlrbiM5JG4dVrVClQTqtYgfk4Ilv6ArjnKiUkBEaNG7NFHfOhlJn1kcxzKqh_5h6k7gLTnr7BDGe8dw-oPmEDr6hlS1k3cP5uzEQkNDA2Jm30YgfeeqajwlIG-b&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Ayam Yoga Studio Image">
        </div>
        <div class="place-info">
          <h1>Ayam Yoga Studio</h1>
          <p class="bold">Location: 2nd Floor, Gazebo House, 52, Gulmohar Rd, JVPD Scheme, Vile Parle West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹855</p>
          <p class="bold">Rating: 2.5</p>
          <a href="/slotbooking?name=Ayam Yoga Studio"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYJnJyWIYjxgCUhHWw00XCZWYfl_5KfyP_ajjtmSjiKJnucWsZCsw_fdg279k4FKqIC0eM7zKLL79VG4jCh1htHsiw5h8fd9aA2Hjf7h0IpE-dnjNnT3oeHQdPaou_FIx8ougP_6owxrTOZhNM_5kp-7uy0RwzTELk3wk-gVE9ImvMa&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Rucha Antaryoga Image">
        </div>
        <div class="place-info">
          <h1>Rucha Antaryoga</h1>
          <p class="bold">Location: Meadows Apartment, Jai Bhavani Mata Rd, off Ceasar Road, Amboli, Andheri</p>
          <p class="bold">Hourly Price:  ₹911</p>
          <p class="bold">Rating: 4.5</p>
          <a href="/slotbooking?name=Rucha Antaryoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZyAGB2DW4H8-lTee6zpZecz9-K1NPNhugWAujDOwKH6QdrKzGeKHqH7tNSR4MFja6eYgSK4AE5lwiI1Hna8E9gqU-wZydV7ynvfRyX2DH5PnCTggL4GrwV49hSjA3gPCCWcwzhZ4K5vDCZfn5c-GtiO0pei_UCkZHtHFgN1z0JT0mj&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Rajat Dua Yoga Image">
        </div>
        <div class="place-info">
          <h1>Rajat Dua Yoga</h1>
          <p class="bold">Location: 22, Tarangini, RTO Rd, Shatataraka Co Op Housing Society, Suresh Nagar, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹789</p>
          <p class="bold">Rating: 3.3</p>
          <a href="/slotbooking?name=Rajat Dua Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
    </div>
   </div>

  <script src="../static/js/turf_info.js"></script>
</body>
</html>