<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yoga Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

  <!--Back button-->
  <button class="back-button" onclick="goBack()"><i class="fas fa-arrow-left"></i></button>

    <!-- Search box -->
    <div class="search-container">
      <input type="text" id="YogasearchInput" placeholder="Search places..." style="width: 400px;">
      <button onclick="searchYogaPlace()"><i class="fas fa-search"></i></button>
   </div>

   <!-- Place containers -->
   <div class="container-wrapper">
    <div class="container">
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaJjJwSnW7_BMm-dkB4BoFNCIaDbnFHokMoqan1eaOqVvxORhbnL0ZtmxYzaD48SsJCwEQu7Xn684YR1KRxTauxNQBd0xGhGiAEsRT5j52dRRVqw-3ekiEUDmqxVo4NMsiAx4EP4Cmncs37IDU-vC1ivvUiLlpRMTog7gKOOpwU0GEX&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Yogasadhana Image">
        </div>
        <div class="place-info">
          <h1>Yogasadhana</h1>
          <p class="bold">Location: Sai Krupa Building, Veera Desai Rd, near Mahalaxmi Society, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹862</p>
          <p class="bold">Rating: 3.7</p>
          <a href="/slotbooking?name=Yogasadhana"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYnEnA_xTDJazYrKk_y3UT177OZ7EXjDjFd1E7vI3S8byEBwLQQj8LaURZq3vnSVZYlcvB4dGDts-pl5W43POGb56LfRAk-Dda6CzIWlu_ZgUlTzH63BA6WfEV5bYnkGeMaQfg4pKJAk1i9BNJr3V5POMYdsrYTCNdneSqsmkUrybIq&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="The YogArt Studio Image">
        </div>
        <div class="place-info">
          <h1>The YogArt Studio</h1>
          <p class="bold">Location: 202 Trishla Appts, 152/C, SV Road, S.V. Road, near Sony Mony, next to CNMS Signal, Vile Parle West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹531</p>
          <p class="bold">Rating: 2.4</p>
          <a href="/slotbooking?name=The YogArt Studio"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZBRT2Z65nb3CdBD8Z1MXNg8w_NnxEQ__54e3vaxUaw13ETMxWYWCoHYHw0G34BmqZQ_p6OTRh75WRgRauTlqJbtbVRvKhEd94LA8X4UgwPE0G8Kh4g_N-pk6-N6w-wKVtBfoZU0ByqkRMx6Fu-3fEXubnjDbLw1cA7OuVgToThl8TA&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="R S YOGA SCHOOL Image">
        </div>
        <div class="place-info">
          <h1>R S YOGA SCHOOL</h1>
          <p class="bold">Location: 21 MINAXI APT, Swami Vivekananda Rd, opp. GOLDEN TOBACCO, Vile Parle West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹679</p>
          <p class="bold">Rating: 1.4</p>
          <a href="/slotbooking?name=R S YOGA SCHOOL"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbqRmEtk3wWVdFI3c0CpFk7jruFAfvGDbYhcQCzrb1q6ZI8z8ReeIWtS7yLqbiRfLMUKR7KJLDR3Mw1OaCAjDd7bDc72AR_PdJnfNwgniXoPOHb5hxHJtde4O785dnIAA5q3QKt_Rt1kAqJHTuGLqS5xKbketA-GMIInOc-HXpg0xhB&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="YogAngle Studio Image">
        </div>
        <div class="place-info">
          <h1>YogAngle Studio</h1>
          <p class="bold">Location: 5th Floor, E Square Building, Subhash Rd, above State Bank of India, Vishnu Prasad Society, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹784</p>
          <p class="bold">Rating: 4.0</p>
          <a href="/slotbooking?name=YogAngle Studio"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYJgSNAXIBTlZr0ooxI_B8x0IiQ7REGJvJi9wm6zWWOHmdIToxEA_Vt2siLNA-ibxvplXLV0a-nbz8t1cj7-2IDtMXmVLdg0mTq0GLblfe_FPwDNfsF8CDJCK7sdInsBJVPCqjRMjA7Gn1qgfQ_yg0pn7Bul8Nzcn2TxD0zKonW7Wht&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="New Age Yoga Image">
        </div>
        <div class="place-info">
          <h1>New Age Yoga</h1>
          <p class="bold">Location: Hedgewar Studio, Hanuman Rd, opp. Janata Sahakari Bank Ltd, Satsang CHSL, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹627</p>
          <p class="bold">Rating: 3.1</p>
          <a href="/slotbooking?name=New Age Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZn8F_QJ-tfEJm4c52cByhgIA6KphKhxxqgYK-TsEEs0BHdc2x6ap_V_VdzKQbxv9HgLj9xB9Ftp5JsbPHXmMB1FHfxBGKg-_48fgZsgH_AfoY8g7yjbaa3so40VRjMdDrWKbzo9D8bSx-jcSb9ZrbN2MD1ZiDM-qp1jLFqzeh62Xc1&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Asan Yoga School Image">
        </div>
        <div class="place-info">
          <h1>Asan Yoga School</h1>
          <p class="bold">Location: I. T. KALADALAN (Inside Shivaji Vidyalaya, Off, Hanuman Rd, Vile Parle East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹797</p>
          <p class="bold">Rating: 2.3</p>
          <a href="/slotbooking?name=Asan Yoga School"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZChgRL3k6MA85NWS1_rWsJxak8gg0R1Mi-NAjfL4A3HSTVfQBnNrQ1_bEufoolQnmjgGRbLqS-TELvuUQjAVBcwztVfwHcLZcR1gxEO_PUJgnogeK7bUFenGuCPABlj1qAv4I1g3nPOgpF3c5wymVeTb4dJRi_QLeDqSGpk7ICkoEI&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Yoga With Deepa Image">
        </div>
        <div class="place-info">
          <h1>Yoga With Deepa</h1>
          <p class="bold">Location: Thukral Palace, 231, Mahakali Caves Rd, Anand Vihar, Sher E Punjab Colony, Andheri East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹922</p>
          <p class="bold">Rating: 4.8</p>
          <a href="/slotbooking?name=Yoga With Deepa"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYzG9QqbXqN-TFQHyNzlnBrgptAZr1w37tYdRCiQtZr7LfXo3MVS666wWhCMNs88ftolOgrYiSFHW8udOKc46GxDoetNsDT6sUyrk7js68DIz0w-ZBTm9shMQm3IMtHs_JpWmMXAVysk3FQ4ILSOooWlD0My2ilTy5NDAM3oPvhlamM&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Ekatvam Yoga Classes Image">
        </div>
        <div class="place-info">
          <h1>Ekatvam Yoga Classes</h1>
          <p class="bold">Location: Parle Kalpataru CHSL, Gujarati Society, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹545</p>
          <p class="bold">Rating: 3.8</p>
          <a href="/slotbooking?name=Ekatvam Yoga Classes"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJYWWPtGiw8OO2X9U5I-XbsiUBKrqYVgVC7Y9L5PsZ7fpqZKB0PCaZ1xk-QIoSN0zcOhBQb5tgu5jZ23iK5vM51K5BbO7i_W-ggSpZ0ugVJxTilOY2ydtz6cggbvxv10AFJHlN0--entvFoCQ91L6Sk1TGu6CknPnf8ZsucfVjKYK69t&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="vision yoga Image">
        </div>
        <div class="place-info">
          <h1>vision yoga</h1>
          <p class="bold">Location: 2, Nehru Rd, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹859</p>
          <p class="bold">Rating: 3.5</p>
          <a href="/slotbooking?name=vision yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZ5ecFgfoZC__BkVtRhxtT4E_CLACavkenNIo6yBpw42BTUS2hQvq-rWo7k19O_nBy7MiHmMBhz76FKElYkyXAIjFgiUu_Kh-yez-zBaK5CD75ndbZw0wjXonoKaGromV3_3x961bqeV5lKPaGsbqLR7x2kuVfi3B3TYHNJK906jFTn&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Rucha Antaryoga Image">
        </div>
        <div class="place-info">
          <h1>Rucha Antaryoga</h1>
          <p class="bold">Location: Meadows Apartment, Jai Bhavani Mata Rd, off Ceasar Road, Amboli, Andheri</p>
          <p class="bold">Hourly Price:  ₹695</p>
          <p class="bold">Rating: 2.9</p>
          <a href="/slotbooking?name=Rucha Antaryoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZEpuXsXHOVaD0eCNOVXViHCwULuOwgXg4tbPrFczUksbQ_0KHJNMhklUZL9ApC0RrsYz2aRCdxFEY5NxrnHWU9G9AyNKtNo4z3a0iIu_pAz4TLo5Kti_zZtqmx7RHBO7zlJ36rX1BN3iG5ZqLN7umXvkMia-TsU0aSrny_pWkhxHNl&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Vision Yoga, 602, Devniwas, Malaviya Road, Vile parle East, Mumbai 400057 Image">
        </div>
        <div class="place-info">
          <h1>Vision Yoga, 602, Devniwas, Malaviya Road, Vile parle East, Mumbai 400057</h1>
          <p class="bold">Location: 602, Devniwas, Malviya Rd, Satsang CHSL, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹973</p>
          <p class="bold">Rating: 1.2</p>
          <a href="/slotbooking?name=Vision Yoga, 602, Devniwas, Malaviya Road, Vile parle East, Mumbai 400057"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbWJ0yEJs34PFcbtf-lkKz5Wp8sO8Wh-fLF8C3WvLPgQ3RIuSbkxzLOhdofAvemMClzUG_QuDyxUheWHBqEf_zGYD5mHh2n1gLlyYzhpM4R7AjRvDht7hWNF3-tYtQgoLY0iap2NrLbMuyCLmBm2X_IiKRYuhTRpSwUiuilLXNrqlx1&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Gyaneshwari Rathore Yoga Image">
        </div>
        <div class="place-info">
          <h1>Gyaneshwari Rathore Yoga</h1>
          <p class="bold">Location: 7th floor Dheeraj Vaibhav, Poonam Nagar, Andheri East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹503</p>
          <p class="bold">Rating: 4.8</p>
          <a href="/slotbooking?name=Gyaneshwari Rathore Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaR_ai0ZEI8-Vj7RxR0FLF5uNE_CR-UbiSGJQ5Mu1iQS3UqSnVX16hxfr2tW1e1bjKBfFVCPe19jAGY5VuMdI18uSUwNhOgrcfJdke_SUHWM1XXshTHgvu-lUnRZ6PeSRRBRbBguYznM2pvsWEBTGWsri0SpAOPag9o6r5OTGQ68w&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Sudipa Yogalaya - Yoga Classes Near me| best yoga classes|Yoga trainer|corporate yoga in andheri Image">
        </div>
        <div class="place-info">
          <h1>Sudipa Yogalaya - Yoga Classes Near me| best yoga classes|Yoga trainer|corporate yoga in andheri</h1>
          <p class="bold">Location: Twin Arcade, Wing A- 602, Military Rd, Sankasth Pada Welfare Society, Marol, Andheri East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹637</p>
          <p class="bold">Rating: 4.8</p>
          <a href="/slotbooking?name=Sudipa Yogalaya - Yoga Classes Near me| best yoga classes|Yoga trainer|corporate yoga in andheri"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZYTFRcMdrgdW9J52xCaM6RVtjpokXupGCmYzAV72TgjnvJZ9fa8c8kiYXYmFuvG7QR0042sM7EOVpTAxvu-GML1r8ZxtzBUJxgqi0ZaslGxscqb9ZHOKAyBUhieWXhCsocTfbBhaWTTgi32PgM32DalcqZunPCb3vfq_G12hYykf7J&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Shivkripa Yoga Centre Image">
        </div>
        <div class="place-info">
          <h1>Shivkripa Yoga Centre</h1>
          <p class="bold">Location: Wadia Block No.1, Flat No. 5, 2nd Floor, SV Road, Malcolm Baug, Jogeshwari West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹724</p>
          <p class="bold">Rating: 2.2</p>
          <a href="/slotbooking?name=Shivkripa Yoga Centre"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJbfLnyATMhqy6zzOQq5O8nTVxp6HHlgr-bwtfOm8YlGTQWjUKtynvE-bwK8uwWybS2rXGGFPNxksMe1lgNwNtKAHMg9M6Ecjly1t5g2P9pe_v1M8ohfGmn3fJgX6zGi9Xb3BIrxs-bMna1hWyUJd84YCZykNY-QLhIDxWQujCgb9GOV&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="The Yoga Institute Juhu | Best yoga classes in Juhu Image">
        </div>
        <div class="place-info">
          <h1>The Yoga Institute Juhu | Best yoga classes in Juhu</h1>
          <p class="bold">Location: 4th floor, Kasturba Health Society, Medical Research center, KD Rd, Gautam Ashish Society, Navpada, Vile Parle West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹765</p>
          <p class="bold">Rating: 4.9</p>
          <a href="/slotbooking?name=The Yoga Institute Juhu | Best yoga classes in Juhu"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJatzQoyzvfQf0ZwkDCb2n_LRNjS2YDQXbJpD6YOgenVc6yfQcFvtdm7CSUAukSjwYraBM4BPuo7ZzuNs5VmH3yfo5WN52YctUFP7ndIyMiaUWc7-YWTWYs5Yu95eLD3s5R2F993UJfKNPmNitU-3lxur6ZIfRbxY2cW0aA-Ppf_Vuk&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Wellness Yoga Cafe Image">
        </div>
        <div class="place-info">
          <h1>Wellness Yoga Cafe</h1>
          <p class="bold">Location: 42, Swami Vivekananda Rd, Ganga Vihar, Andheri West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹946</p>
          <p class="bold">Rating: 4.8</p>
          <a href="/slotbooking?name=Wellness Yoga Cafe"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZqEQpoDHcQP3AdpIfL2P9adIjQIhdzj8oS-HrVVmUKo5f62jQhJVjcT3G34k3ktajDAZmOzq502ucuD9QoUT-Rn0dxcokvXMTD9WAeDPUiUYVBwmSLShbxkUozUOq5wJFSQ_WsPUq91AbfiM3pGJ3aGJ6u45gr7AZiKI_00K164xfA&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Sohum Studios by Hetal Image">
        </div>
        <div class="place-info">
          <h1>Sohum Studios by Hetal</h1>
          <p class="bold">Location: Everest Terraces, Tejpal Rd, Navpada, Vile Parle East, Vile Parle, Mumbai</p>
          <p class="bold">Hourly Price:  ₹563</p>
          <p class="bold">Rating: 1.0</p>
          <a href="/slotbooking?name=Sohum Studios by Hetal"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJaFg5StCpLirC1ywKnrfcEDJ9ZIdOgS6FG-OOXHqHFACvq7nFZPaAPiAZ0WAq9oJNmEZR-BX2TDo2MXu61dX8qWcAaVsisG2rB6oI7b0L7_aH-jywegOwgS5km_lzDJsiMFIfonhjiupwXj1iTa7VfEfQxwyfzhOT6OjY8ggrPBiEZR&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Nayanam Yoga Image">
        </div>
        <div class="place-info">
          <h1>Nayanam Yoga</h1>
          <p class="bold">Location: Vasant Oasis, Marol Maroshi Rd, Marol, Andheri East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹974</p>
          <p class="bold">Rating: 2.4</p>
          <a href="/slotbooking?name=Nayanam Yoga"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZwqlJ6e5xGb_lkwQUHWFKq_yh50FwBpWkH_N9vLDGpGy3gLLEYgAEgDLZ0ARFRtp5uN5bFTWXv1hCA16fOzFJYnZaF9u2oPVgEKu2Eo8TAAu61IrpSexxF0HdJ2lXmP16MoGjdBg4ZLzJQsbV10RY5fg3l2qRROf9UL0HHbEAFSgqI&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Bharatiya Yoga Mandir Image">
        </div>
        <div class="place-info">
          <h1>Bharatiya Yoga Mandir</h1>
          <p class="bold">Location: Society road Saraswat Colony, JES English school, Jogeshwari West, Mumbai</p>
          <p class="bold">Hourly Price:  ₹934</p>
          <p class="bold">Rating: 4.5</p>
          <a href="/slotbooking?name=Bharatiya Yoga Mandir"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
      <div class="place">
        <div class="place-image">
          <img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=ATplDJZD9ORo8RkZOZIeFlIbVEapbu3CqgI0MlVEXqosKPRB_c8oGOqHsD4lUv2bC7k8Vw_T63vRh-NNTsx4rKS_4vqbw7V1boBFU88vVbOsCt6KMVkSP0Hba58iCdUp14gWk3s7e6W0w_dTN6Y0mUWkfbjoZYe4EOJEIdrp5x0hGpUWONvn&key=AIzaSyCYcHknfiD3Mj7qm5bKSkxuKFWoUtR71Go" alt="Sarva Yoga Studio Image">
        </div>
        <div class="place-info">
          <h1>Sarva Yoga Studio</h1>
          <p class="bold">Location: No. 458, Subhash Rd, Vishnu Prasad Society, Navpada, Marol, Andheri East, Mumbai</p>
          <p class="bold">Hourly Price:  ₹547</p>
          <p class="bold">Rating: 2.2</p>
          <a href="/slotbooking?name=Sarva Yoga Studio"><div class="button see-more">Book Now</div></a>
        </div>
      </div>
    
    </div>
   </div>

  <script src="../static/js/turf_info.js"></script>
</body>
</html>